* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 2, 20);
}

.formulario{
  background: #fff;
  padding: 20px;
  margin-top: 80px;
  border-radius: 5px;
}

h1{
  text-align: center;
  color: #1a2537;
  font-size: 30px;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.705) ;
}

.icon{
  min-width: 50px;
  text-align: center;
  color: #999;
}

.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 18px;
  background:  #0c1c36;
  padding: 10px 15px;
  border-radius: 5px;
}
.button:hover{
  background: rgb(52, 16, 148);
}



.link{
  text-decoration: none;
    color: #1a2537;
  font-weight: 600;
}
.link:hover{
   color: rgb(87, 23, 198);
}
