* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px;
  background-color: rgb(3, 2, 20);
}
/* ESTILOS NAVBAR */
.navPropio  {
  padding: 0;
  background-color: rgb(5, 2, 19);
  width: 100%;
  z-index: 500;
}

.linkPropio{
  color: white;
  font-size: 1.1rem;
}

.linkPropio:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 25, 77);
}


/* Estilos carrusel cards */

/* contenedor principal y flechas */

.contCarrusel{
 display: flex;
 align-items: center;
}


.titulo {
  font-size: 23px;
  padding-left: 45px;
}
.flechaIzquierda, .flechaDerecha {
  height: 150px;
  width: 50px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.160);
  color: white;
  transition: .7s all;
}

.flechaIzquierda:hover, .flechaDerecha:hover {
  background-color: rgba(0, 0, 0, 0.509);
}

.iconFlecha {
  font-size: 23px;
}

/* CARRUSEL */

.imgPelicula {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.contenedorCarrusel{
  width: 100%;
  padding: 20px 0;
  overflow: hidden; /* Todo lo que salga de este contenedor va a desaparecer*/
  scroll-behavior: smooth; /* controla el comportamiento del scroll*/
}

.carrusel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden; /* Oculta los elementos que salen del contenedor */
  display: flex;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.cardPelicula {
  margin-right: 20px;
}

/* ////////////////////////////////////////////// */

