body {
    background-color: rgb(3, 2, 20);
    color: lightblue; /* Cambia el color del texto */
}

nav {
    background-color: rgb(5, 2, 19);
    color: white;
    padding: 10px;
}

.container {
    margin-top: 50px;
}
